<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
            </div>
            <div class="modal-body">
                <p>@Text</p>
                <div>
                    <table style="border: 1px solid; border-collapse: collapse" width="100%">
                        <tr style="border: 1px solid;">
                            <th>
                                <p style="display: table-cell">Problem name: </p>
                            </th>
                            <th>
                                <input style="display: table-cell; width: 100%;" @bind="saveModel.Name"/>
                            </th>
                        </tr>
                        <tr style="border: 1px solid;">
                            <th>
                                <p style="display: table-cell">Subject: </p>
                            </th>
                            <th>
                                <input style="display: table-cell; width: 100%;" @bind="saveModel.Subject"/>
                            </th>
                        </tr>
                        <tr style="border: 1px solid;">
                            <th>
                                <p style="display: table-cell">Topic: </p>
                            </th>
                            <th>
                                <input style="display: table-cell; width: 100%;" @bind="saveModel.Topic"/>
                            </th>
                        </tr>
                        <tr style="border: 1px solid;">
                            <th>
                                <p style="display: table-cell">Grade: </p>
                            </th>
                            <th>
                                <input style="display: table-cell; width: 100%;" @bind="saveModel.Grade"/>
                            </th>
                        </tr>
                        <tr style="border: 1px solid;">
                            <th>
                                <p style="display: table-cell">Level of complexity: </p>
                            </th>
                            <th>
                                <select  style="display: table-cell; width: 100%;" @bind="compl">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button @onclick="OnNo">No</button>
                <button @onclick="OnYes">Yes</button>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public EventCallback OnYes { get; set; }

    [Parameter]
    public EventCallback OnNo { get; set; }

    [Parameter]
    public Data.SaveModel saveModel { get; set; }

    private string compl = "1";

    protected override void OnAfterRender(bool firstRender)
    {
        saveModel.Complexity = compl;
    }
}