.instrument_panel{
    display: table;
    background-color: lightgray;
    width: 100%;
    align-items: baseline;
    padding: 5px;
}
.color_pick {
    float: right;
    width: 10%;
    margin: 2px;
    padding: 10px;
    background-color: floralwhite;
}

.button{
    background-color: transparent;
    border: none;
    align-items:center;
}

.button-div{
    display: table;
}

.button-content{
    display: table-cell;
}